<table class="table">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
    </tr>
    <tr class="trow">
    	<%= simple_form_for :interface do |f| %>
		<th><%= f.input_field :ip %></th>
		<th><%= f.input_field :hostname %></th>
		<th><%= f.input_field :port %></th>
		<th><%= f.input_field :ddns %></th>
		<th><%= f.submit %></th>
    	<% end %>
    </tr>
  </thead>
  <tbody>
    <tr class="trow">
      <th scope="row">192.168.1.1</th>
      <td>Merlin</td>
      <td>8080</td>
      <td>merlin.onthewifi.com</td>
    </tr>
    <tr class="trow">
      <th scope="row">192.168.1.100</th>
      <td>freenas</td>
      <td>80</td>
      <td>free.onthewifi.com</td>
    </tr>
    <tr class="trow">
      <th scope="row">192.168.1.10</th>
      <td>Shoppc</td>
      <td></td>
      <td>shoppc.local</td>
    </tr>
  </tbody>
</table>