<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
      <th></th>
    </tr>
    <tr class="trow">
    	<%= simple_form_for :interface, html: {class:"add_int_form"} do |f| %>
		<th><%= f.input_field :ip %></th>
		<th><%= f.input_field :hostname %></th>
		<th><%= f.input_field :port %></th>
		<th><%= f.input_field :ddns %></th>
		<th><%= image_submit_tag ("plus.png"), class:"add_int"%></th>
		<% end %>
    </tr>
  </thead>

  <tbody class="list">
    <% @interfaces.each do |int| %>
      <tr class="trow data-row" id="<%= int.id %>">
        <th scope="row"><a href="http://<%= int.ip %>"><%= int.ip %></a></th>
        <td><a href="http://<%= int.ip %>"><%= int.hostname %></a></td>
        <td><%= int.port %></td>
        <td><a href="http://<%= int.ddns %>"><%= int.ddns %></a></td>
        <td ><i id="remove_int_btn" class="fa fa-2x fa-trash " aria-hidden="true"></i></td>
      </tr>
    <% end %>
  </tbody>

</table>

