<table class="table">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
      <th></th>
    </tr>
    <tr class="trow">
    	<%= simple_form_for :interface, :url => { :action => "create" } do |f| %>
		<th><%= f.input_field :ip %></th>
		<th><%= f.input_field :hostname %></th>
		<th><%= f.input_field :port %></th>
		<th><%= f.input_field :ddns %></th>
		<th><%= image_submit_tag ("plus.png"), class:"add_int" %></th>    	
		<% end %>
    </tr>
  </thead>
  <% @interfaces.each do |int| %>
   <tbody>
    <tr class="trow animated bounceIn">
      <th scope="row"><%= int.ip %></th>
      <td><%= int.hostname %></td>
      <td><%= int.port %></td>
      <td><%= int.ddns %></td>
      <td><%= link_to image_tag("minus.png"), interface_path(int), method: :delete%></td>
    </tr>
    <% end %>
   
  </tbody>
</table>