<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
      <th></th>
    </tr>
    <tr class="trow">
      <%= render '/interfaces/new' %>
    </tr>
  </thead>

  <tbody class="list">
    <% @interfaces.each do |interface| %>
      <tr class="trow data-row" id="<%= interface.id %>">
        <th scope="row"><a href="http://<%= interface.ip %>"><%= interface.ip %></a></th>
        <td><a href="http://<%= interface.ip %>"><%= interface.hostname %></a></td>
        <td><%= interface.port %></td>
        <td><a href="http://<%= interface.ddns %>"><%= interface.ddns %></a></td>
        <!-- <td ><i id="remove_int_btn" class="fa fa-2x fa-trash " aria-hidden="true"></i></td> -->
          <!-- Large modal -->
        <td>
<button type="button"  id='details-btn' data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-info-circle" aria-hidden="true"></i>
</button></td>
      </tr>




<!-- Modal -->
<div id='detailsModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <%= render partial: "interfaces/edit", interface: interface %>
    </div>
  </div>
</div>


    <% end %>
  </tbody>

</table>




<!-- Modal -->
<div id='detailsModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h2>MODAL</h2>
    </div>
  </div>
</div>

