<span class="ajax-form"></span>

<table class="table sortable">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
      <th></th>
    </tr>
    <tr class='test-ajax'></tr>
  </thead>
  <tbody class="list">


    <% @interfaces.each do |int| %>
      <tr class="trow data-row" id="<%= int.id %>">
        <th scope="row">
          <a href="http://<%= int.ip %>">
            <%= int.ip %>
          </a>
        </th>
        <td>
          <a href="http://<%= int.ip %>">
            <%= int.hostname %>
          </a>
        </td>
        <td>
          <%= int.port %>
        </td>
        <td>
          <a href="http://<%= int.ddns %>">
            <%= int.ddns %>
          </a>
        </td>
        <td>
          <button type="button" class='details-btn' int_id="<%= int.id %>" data-toggle="modal" data-target="#edit-modal">
            <i class="fa fa-info-circle edit-btn-<%= int.id %>" aria-hidden="true"></i>
          </button>

        </td>
      </tr>
      <% end %>
  </tbody>


  
  <script>
  $('.details-btn').on('click', function(){
    $('#edit-modal').modal();
  })
  </script>