<table class="table">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>DDNS</th>
      <th></th>
    </tr>
    <tr class="trow">
    	<%= simple_form_for :interface, url: { :action => "create" }, html: {class:'add_int_form'} do |f| %>
		<th><%= f.input_field :ip %></th>
		<th><%= f.input_field :hostname %></th>
		<th><%= f.input_field :port %></th>
		<th><%= f.input_field :ddns %></th>
		<th><%= image_submit_tag ("plus.png"), class:"add_int" %></th>    	
		<% end %>
    </tr>
  </thead>
  <% @interfaces.each do |int| %>
   <tbody>
<<<<<<< HEAD
    <tr class="trow animated fadeIn" id="<%= int.id %>">
=======
    <tr class="trow data-row" id="<%= int.id %>">
>>>>>>> 037ac543971c9b65f39b8d49339935566455f12e
      <th scope="row"><%= int.ip %></th>
      <td><%= int.hostname %></td>
      <td><%= int.port %></td>
      <td><%= int.ddns %></td>
<<<<<<< HEAD
      <td class='delete_row'><%= link_to image_tag("minus.png"), interface_path(int), method: :delete%></td>
=======
      
      <td ><i id="remove_int_btn" class="fa fa-2x fa-trash" aria-hidden="true"></i></td>
>>>>>>> 037ac543971c9b65f39b8d49339935566455f12e
    </tr>
    <% end %>
   
  </tbody>
</table>

